In [96]:
#import everything you need

import pandas as pd
from datetime import datetime

In [97]:
#Define functions 

def convert_MDJ2unix(df):
    return (df -40587)*86400

def timestamp2readbleTime(time):
    return datetime.utcfromtimestamp(time).strftime('%Y-%m-%d %H:%M:%S')

In [98]:
#read csv
df_1 = pd.read_csv('training_set.csv')
df_2 = pd.read_csv('training_set_metadata.csv')

In [99]:
#Convert to Unix timestamp
df_1.mjd = convert_MDJ2unix(df_1.mjd)

In [100]:
#Convert to readable time
# Put the results in a list and after the loop finishes assigning the list to the column of the dataframe accelerates the assignment in dataframes

list_time = []

for i in range(len(df_1.mjd)):
    list_time.append(timestamp2readbleTime(df_1.mjd[i]))
    
df_1.mjd = list_time

In [102]:
df_1[['passband','mjd']]

         passband                  mjd
0               2  2022-06-20 10:08:58
1               1  2022-06-20 10:20:03
2               3  2022-06-20 10:31:09
3               4  2022-06-20 10:40:48
4               2  2022-06-22 09:46:04
5               1  2022-06-22 09:57:10
6               3  2022-06-22 10:08:15
7               4  2022-06-22 10:24:05
8               5  2022-06-22 10:38:38
9               2  2022-07-07 07:07:23
10              1  2022-07-07 07:18:28
11              3  2022-07-07 07:29:34
12              4  2022-07-07 07:45:33
13              5  2022-07-07 08:01:23
14              2  2022-07-10 05:13:46
15              1  2022-07-10 05:24:51
16              3  2022-07-10 05:36:05
17              4  2022-07-10 05:52:04
18              5  2022-07-10 06:08:12
19              2  2022-07-19 07:39:04
20              1  2022-07-19 07:50:09
21              3  2022-07-19 08:01:14
22              4  2022-07-19 08:17:05
23              5  2022-07-19 08:32:55
24              2  2022-07-22 04:33:10
25              1  2022-07-22 04:44:15
26              3  2022-07-22 04:55:20
27              4  2022-07-22 05:11:19
28              5  2022-07-22 05:27:27
29              2  2022-08-06 06:51:59
...           ...                  ...
1421675         2  2024-06-03 05:06:17
1421676         0  2024-06-05 06:09:30
1421677         2  2024-06-29 03:48:40
1421678         1  2024-06-30 04:34:36
1421679         2  2024-07-05 02:59:42
1421680         3  2024-07-06 03:31:58
1421681         3  2024-07-07 04:28:50
1421682         0  2024-07-08 03:16:50
1421683         3  2024-07-12 02:44:52
1421684         2  2024-07-14 02:34:48
1421685         5  2024-07-15 02:18:31
1421686         4  2024-07-19 04:55:37
1421687         5  2024-07-24 06:33:15
1421688         0  2024-08-02 00:53:34
1421689         0  2024-08-03 01:29:25
1421690         3  2024-08-04 04:34:10
1421691         3  2024-08-06 00:48:23
1421692         1  2024-08-08 02:20:49
1421693         5  2024-08-14 01:04:56
1421694         3  2024-08-15 03:31:40
1421695         4  2024-08-20 01:10:24
1421696         4  2024-08-21 00:35:34
1421697         5  2024-08-23 23:37:32
1421698         5  2024-08-24 23:31:46
1421699         4  2024-08-26 23:29:36
1421700         4  2024-09-02 23:36:40
1421701         1  2024-09-07 01:06:05
1421702         5  2024-09-18 00:32:24
1421703         4  2024-10-02 23:56:15
1421704         0  2024-10-05 00:53:34

[1421705 rows x 2 columns]

In [68]:
#0 and 4 have the same passband, I'm trying to see the diference (in days) between the measurements
a = df_1.mjd.iloc[0]
b = df_1.mjd.iloc[1]
c = df_1.mjd.iloc[2]
d = df_1.mjd.iloc[3]
e = df_1.mjd.iloc[4]
f = df_1.mjd.iloc[5]
g = df_1.mjd.iloc[6]
h = df_1.mjd.iloc[7]
i = df_1.mjd.iloc[8]
j = df_1.mjd.iloc[9]
k = df_1.mjd.iloc[10]
l = df_1.mjd.iloc[11]
m = df_1.mjd.iloc[12]
n = df_1.mjd.iloc[13]
o = df_1.mjd.iloc[14]

In [69]:
print(timestamp2readbleTime(a))
print(timestamp2readbleTime(b))
print(timestamp2readbleTime(c))
print(timestamp2readbleTime(d))
print(timestamp2readbleTime(e))
print(timestamp2readbleTime(f))
print(timestamp2readbleTime(g))
print(timestamp2readbleTime(h))
print(timestamp2readbleTime(i))
print(timestamp2readbleTime(j))
print(timestamp2readbleTime(k))
print(timestamp2readbleTime(l))
print(timestamp2readbleTime(m))
print(timestamp2readbleTime(n))
print(timestamp2readbleTime(o))

2022-06-20 10:08:58
2022-06-20 10:20:03
2022-06-20 10:31:09
2022-06-20 10:40:48
2022-06-22 09:46:04
2022-06-22 09:57:10
2022-06-22 10:08:15
2022-06-22 10:24:05
2022-06-22 10:38:38
2022-07-07 07:07:23
2022-07-07 07:18:28
2022-07-07 07:29:34
2022-07-07 07:45:33
2022-07-07 08:01:23
2022-07-10 05:13:46